*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


.container{
    width: 100%;
    height: 100vh;
    background-image: url(/img/photo_10.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}



  

.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: pink;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 30px;
}

.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: purple;
    position: relative;

}
.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: purple;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);

}


.input-field{
    background: purple;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;

}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}



.input-field i{
    margin-left: 15px;
    color: pink;
}



.input-field ::placeholder{
    color: pink;
}

form p{
    text-align: left;
    font-size: 13px;
}
form p a{
    text-decoration: none;
    color: purple;
    
}


.in_and_up{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.in_and_up button{
    flex-basis: 48%;
    background: purple;
    color: pink;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.input-group{
    height: 280px;
}

/* .in_and_up button.fg{
    flex-basis: 48%;
    background: purple;
    color: pink;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;


}*/

.in_and_up button.disable{
    /* flex-basis: 48%;
    background: rgb(206, 135, 206);
    color: pink;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer; */
    background: plum;
    color: violet;

} 
