*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

header{
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
}

header .responsive_nav_bar{
    display: none;
}

header .left_side{
    width: 50%;
    height: 100%;
    background-color: white;
}

header .left_side img{
    width: 60px;
    margin: 5px 20px;

}

header .right_side{
    width: 50%;
    height: 100%;
    background-color: white;
}

header .right_side ul, 
header .right_side li{
    list-style: none;
    display: flex;
    margin: 10px 20px;
    font-size: 1.2em;
    color: purple;
}

/* for responsive */

#left_side_responsive{
    width: 30%;
    height: 350px;
    background-color: pink;
    overflow: none;
    display: none;
}

#left_side_responsive ul, li {
    color: black;
    font-weight: bold;
    display: none;
}

/* main_container */

.main_container{
    width: 100%;
    height: auto;
    display: flex;
}

.main_container .container_left_side{
    width: 50%;
    height: 550px;
    background-color: purple;
}

.main_container .container_left_side h1,h3,h5{
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 10%;

}

.main_container .container_left_side button{
    width: 20%;
    height: 50px;
    background-color: pink;
    margin: 20px 38%;
    font-size: 1.2em;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    
}

/* main_container_right_Side */

.main_container .container_right_side{
    width: 50%;
    height: 550px;
}

.main_container .container_right_side img{
    width: 100%;
    height: 100%;
}

/* container_2 */

.container_2{
    width: 100%;
    height: 500px;
    display: block;
    background-color: pink;

}
.container_2 h1{
    color: black;
    text-align: center;
    color: purple;
}

.container_2 .bx-chevrons-left{
    font-size: 3em;
    cursor: pointer;
    position: absolute;
    z-index: 9999;
    top: 870px;
}

.container_2 .bx-chevrons-right{
    font-size: 3em;
    cursor: pointer;
    position: absolute;
    z-index: 9999;
    top: 870px;
    right: 0;
}


.container_2_2{
    width: 90%;
    height: 400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    background-color: none;
}

.container_2 .container_2_2 .container_2_2_photo_1{
    width: 30%;
    height: 200px;
    color: purple;
    margin: 40px 0px;
}


.container_2 .container_2_2 .container_2_2_photo_1 img{
    width: 100%;
    border-radius: 30px;
}
.container_2 .container_2_2 .container_2_2_photo_1 h2{
    margin: 10px 20px;
}


/* photo 2 */

.container_2 .container_2_2 .container_2_2_photo_2{
    width: 30%;
    height: 200px;
    color: purple;
    margin: 40px 0px;
}


.container_2 .container_2_2 .container_2_2_photo_2 img{
    width: 100%;
    border-radius: 30px;
}
.container_2 .container_2_2 .container_2_2_photo_2 h2{
    margin: 10px 20px;
}

/* photo 3 */

.container_2 .container_2_2 .container_2_2_photo_3{
    width: 30%;
    height: 200px;
    color: purple;
    margin: 40px 0px;
}


.container_2 .container_2_2 .container_2_2_photo_3 img{
    width: 100%;
    border-radius: 30px;
}
.container_2 .container_2_2 .container_2_2_photo_3 h2{
    margin: 10px 20px;
}







/* container_2_switch */

.container_2{
    width: 100%;
    height: 500px;
    display: block;
    background-color: pink;

}
.container_2 h1{
    color: black;
    text-align: center;
    color: purple;
}

.container_2 .bx-chevrons-left{
    font-size: 3em;
    cursor: pointer;
    position: absolute;
    z-index: 9999;
    top: 870px;
}

.container_2 .bx-chevrons-right{
    font-size: 3em;
    cursor: pointer;
    position: absolute;
    z-index: 9999;
    top: 870px;
    right: 0;
}


.container_2_2_switch{
    width: 90%;
    height: 400px;
    margin: auto;
    display: none;
    align-items: center;
    justify-content: space-between;    
    background-color: none;
}

.container_2 .container_2_2_switch .container_2_2_photo_1_switch{
    width: 30%;
    height: 200px;
    color: purple;
    margin: 40px 0px;
}


.container_2 .container_2_2_switch .container_2_2_photo_1_switch img{
    width: 100%;
    border-radius: 30px;
}
.container_2 .container_2_2_switch .container_2_2_photo_1_switch h2{
    margin: 10px 20px;
}


/* photo 2 */

.container_2 .container_2_2_switch .container_2_2_photo_2_switch{
    width: 30%;
    height: 200px;
    color: purple;
    margin: 40px 0px;
}


.container_2 .container_2_2_switch .container_2_2_photo_2_switch img{
    width: 100%;
    border-radius: 30px;
}
.container_2 .container_2_2_switch .container_2_2_photo_2_switch h2{
    margin: 10px 20px;
}

/* photo 3 */

.container_2 .container_2_2_switch .container_2_2_photo_3_switch{
    width: 30%;
    height: 200px;
    color: purple;
    margin: 40px 0px;
}


.container_2 .container_2_2_switch .container_2_2_photo_3_switch img{
    width: 100%;
    border-radius: 30px;
}
.container_2 .container_2_2_switch .container_2_2_photo_3_switch h2{
    margin: 10px 20px;
}




/* container 3 */


.container_3{
    width: 100%;
    height: 600px;
    background-color: purple;
    display: flex;
}



.container_3 .container_3_2{
    display: flex;
    width: 50%;
}

.container_3 .container_3_2 .container_3_left_side{
    width: 100%;
    height: 100%;

}

.container_3 .container_3_2 .container_3_left_side input{
    margin: 20px 25%;
    width: 40%;   
    height: 50px;
    border-radius: 30px;
    font-size: 1.2em;
    background-color: pink;
    border: none;
    color: purple;
}

.container_3 .container_3_2 .container_3_left_side input::placeholder{
    color: purple;
    padding-left: 10px;
}
#p1{
    margin: 0px 25%;
}
#p2{
    margin: 10px 25%;
}
#p3{
    margin: 0px 25%;
}


.container_3 .container_3_2 .container_3_left_side textarea{
    margin: 20px 25%;
    width: 40%;   
    height: 100px;
    border-radius: 10px;
    font-size: 1.5em;
    background-color: pink;
    border: none;
    color: purple;
}
.container_3 .container_3_2 .container_3_left_side textarea::placeholder{
    color: purple;
    padding-left: 20px;
}

.container_3 .container_3_2 .container_3_left_side h1{
    color: pink;
    margin: 15px 34%;
}


.container_3 .container_3_right_side{
    width: 50%;
    height: 100%;

}

.container_3 .container_3_right_side img{
    max-width: 100%;
    height: 100%;
    
}

.container_3 .container_3_2 .container_3_left_side .submit{
    margin: 20px 25%;
    width: 10%;   
    height: 30px;
    border-radius: 10px;
    font-size: 0.9em;
    background-color: pink;
    border: none;
    color: purple;
}







/* footer */

footer{
    width: 100%;
    height: 50px;
    background-color: pink;

}

footer .footer_1{
    width: 100%;
}

footer .footer_1 h4{
    text-align: center;
    padding-top: 20px;
    color: purple;
    font-weight: bold;
}



























/* responsive */

@media only screen and (max-width: 1039px){
    header{
        width: 100%;
        height: 50px;
        background-color: purple;
        display: flex;
    }

    header .responsive_nav_bar{
        display: block;
        width: 100%;
    }

    header .responsive_nav_bar i{
        font-size: 2em;
        margin: 10px 3%;
    }
    
    header .left_side{
        width: 50%;
        height: 100%;
        background-color: purple;
    }
    
    header .left_side img{
        display: none;
    
    }
    
    header .right_side{
        width: 50%;
        height: 100%;
        background-color: purple;
    }
    
    header .right_side ul,li{
        display: none;
    }

    #left_side_responsive{
        width: 30%;
        height: 350px;
        background-color: pink;
        overflow: none;
        display: none;
        z-index: 9999;
        position: absolute;
        top: 50px;
        left: 0;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    #left_side_responsive ul, li {
        color: black;
        font-weight: bold;
        display: block;
        text-align: center;
        align-items: center;
        margin-top: 13%;
    }

/* main_container */

.main_container{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}
.main_container .container_left_side{
    width: 100%;
    height: 600px;
    background-color: purple;
}
/* main_container_right_Side */

.main_container .container_right_side{
    width: 100%;
    height: 400px;
}


/* container_2 */


.container_2 .bx-chevrons-left{
    font-size: 3em;
    cursor: pointer;
    position: absolute;
    z-index: 9999;
    top: 1447px;
}

.container_2 .bx-chevrons-right{
    font-size: 3em;
    cursor: pointer;
    position: absolute;
    z-index: 9999;
    top: 1447px;
    right: 0;
}

.container_2 .container_2_2 .container_2_2_photo_1 h2{
    margin: 10px 20px;
    font-size: 0.9em;
}


/* photo 2 */


.container_2 .container_2_2 .container_2_2_photo_2 h2{
    margin: 10px 20px;
    font-size: 0.9em;
}

/* photo 3 */

.container_2 .container_2_2 .container_2_2_photo_3 h2{
    margin: 10px 20px;
    font-size: 0.9em;
}





/* container 3 */


.container_3{
    width: 100%;
    height: 550px;
    background-color: purple;
    display: flex;
}



.container_3 .container_3_2{
    display: flex;
    width: 50%;
}

.container_3 .container_3_2 .container_3_left_side{
    width: 100%;
    height: 100%;

}

.container_3 .container_3_2 .container_3_left_side input{
    margin: 20px 25%;
    width: 100%;   
    height: 50px;
    border-radius: 30px;
    font-size: 1.2em;
    background-color: pink;
    border: none;
    color: purple;
}

.container_3 .container_3_2 .container_3_left_side input::placeholder{
    color: purple;
    padding-left: 10px;
}

.container_3 .container_3_2 .container_3_left_side textarea{
    margin: 20px 25%;
    width: 100%;   
    height: 100px;
    border-radius: 10px;
    font-size: 1.5em;
    background-color: pink;
    border: none;
    color: purple;
}
.container_3 .container_3_2 .container_3_left_side textarea::placeholder{
    color: purple;
    padding-left: 20px;
}

.container_3 .container_3_2 .container_3_left_side h1{
    color: pink;
    margin: 15px 34%;
}


.container_3 .container_3_right_side{
    display: none;
}


}